[submodule "RollingWOOD-Documentation"]
	path = RollingWOOD-Documentation
	url = https://github.com/ProjectRollingWOOD/RollingWOOD-Documentation.git
[submodule "RollingWOOD-Audio"]
	path = RollingWOOD-Audio
	url = https://github.com/ProjectRollingWOOD/RollingWOOD-Audio.git
[submodule "ini"]
	path = ini
	url = https://github.com/rxi/ini.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "RollingWOOD-DJGPP-Toolchain"]
	path = RollingWOOD-DJGPP-Toolchain
	url = https://github.com/ProjectRollingWOOD/RollingWOOD-DJGPP-Toolchain.git
[submodule "HimemX"]
	path = HimemX
	url = https://github.com/Baron-von-Riedesel/HimemX.git
[submodule "HX"]
	path = HX
	url = https://github.com/crazii/HX.git
[submodule "USBDDOS"]
	path = USBDDOS
	url = https://github.com/crazii/USBDDOS.git
[submodule "MS-DOS"]
	path = MS-DOS
	url = https://github.com/microsoft/MS-DOS.git
